* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}

.box-container {
  padding-bottom: 20rem;
}

.box {
  width: 15rem;
  height: 15rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxItem {
  width: 0.2rem;
  height: 0.2rem;
  background: #fff;
  padding: 1rem;
  display: block;
  list-style: none;
  margin: 0.2rem;
}
